version: 2.1
orbs:
  slack: circleci/slack@3.4.2
  jq: circleci/jq@2.2.0
jobs:
  publish:
    docker:
      - image: rishabhpoddar/supertokens_website_sdk_testing
    steps:
      - checkout
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run:
          name: Publish
          command: |
            cd .circleci
            ./publish.sh
      - slack/status
  test:
    docker:
      - image: rishabhpoddar/supertokens_website_sdk_testing
    steps:
      - checkout
      - run: update-alternatives --install "/usr/bin/java" "java" "/usr/java/jdk-15.0.1/bin/java" 2
      - run: update-alternatives --install "/usr/bin/javac" "javac" "/usr/java/jdk-15.0.1/bin/javac" 2
      - run: echo "127.0.0.1 localhost.org" >> /etc/hosts
      - run: npm i -d
      - run:
          name: Run tests
          command: cd .circleci/ && ./doTests.sh
          no_output_timeout: 30m
      - run: npm run size
      - slack/status
  update-docs:
    docker:
      - image: rishabhpoddar/supertokens_website_sdk_testing
    steps:
      - checkout
      - run: cd ../ && git clone git@github.com:supertokens/supertokens-backend-website.git
      - run: (cd .circleci && ./updateDocsInWebsite.sh)
      - slack/status

workflows:
  version: 2
  tagged-build:
    jobs:
      - publish:
          context:
            - slack-notification
          filters:
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
      - test:
          context:
            - slack-notification
          filters:
            tags:
              only: /dev-v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
      - update-docs:
          context:
            - slack-notification
          filters:
            branches:
              only:
                - master