version: 2.1
orbs:
  continuation: circleci/continuation@0.1.2
  slack: circleci/slack@3.4.2
  jq: circleci/jq@2.2.0
jobs:
  test-dev-tag-as-not-passed:
    docker:
      - image: rishabhpoddar/supertokens_website_sdk_testing_node_16
    steps:
      - run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/ # This makes npm use http instead of ssh (required for node 16)
      - checkout
      - run: (cd .circleci/ && ./markDevTagAsTestNotPassed.sh)
  test-unit:
    docker:
      - image: rishabhpoddar/supertokens_website_sdk_testing_node_16
    parameters:
      fdi-version:
        type: string
    parallelism: 4
    steps:
      - run: mkdir -p ~/reports/
      - run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/ # This makes npm use http instead of ssh (required for node 16)
      - checkout
      - run: echo "127.0.0.1 localhost.org" >> /etc/hosts
      - run: npm i -d
      - run:
          command: for i in $(seq 1 5); do (cd .circleci/ && ./doTests.sh  << parameters.fdi-version >>) && s=0 && break || s=$? && sleep 10; done; (exit $s) # https://support.circleci.com/hc/en-us/articles/5728720104347-How-To-Retry-an-Intermittently-Failing-Step
          environment:
            JEST_JUNIT_OUTPUT_DIR: ~/reports/
      - run: npm run size
      - run: npm run check-circular-dependencies
      - store_test_results:
          path: ~/reports/
  test-success:
    docker:
      - image: rishabhpoddar/supertokens_website_sdk_testing_node_16
    steps:
      - run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/ # This makes npm use http instead of ssh (required for node 16)
      - checkout
      - run: (cd .circleci/ && ./markAsSuccess.sh)
      - slack/status

workflows:
  version: 2
  tagged-build:
    jobs:
      - test-dev-tag-as-not-passed:
          filters:
            tags:
              only: /dev-v[0-9]+(\.[0-9]+)*/
            branches:
              only: /test-cicd\/.*/
      - test-unit:
          requires:
            - test-dev-tag-as-not-passed
          context:
            - slack-notification
          filters:
            tags:
              only: /dev-v[0-9]+(\.[0-9]+)*/
            branches:
              only: /test-cicd\/.*/
          matrix:
            parameters:
              fdi-version: placeholder
      - test-success:
          requires:
            - test-unit
          context:
            - slack-notification
          filters:
            tags:
              only: /dev-v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/